#title {text-align:center;}

input, textarea {
    box-sizing: border-box;
    width: 200px;
}

img {width: 100px; display:block; margin:auto;}

div {
    border: 1px solid black;;
    margin: 5px;
    padding:10px;
    width:200px
}